﻿{% extends "layout.html" %}

{% block content %}

{% block container %}
<ul class="pricing-table">
    {% for id, product in products.iteritems() %}
    <li class="price">
        <a href="/product/{{id}}">
            {{ product['name'] }}
        </a>
        <small>$ {{ product['price'] }}</small>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% endblock %}
