﻿{% extends "home.html" %}

{% block container %}
<h4>
    {{ product|fullname }}
</h4>
<h1>
    {{ product['name'] }}
    <small>{{ product['category'] }}</small>
</h1>
<h3>$ {{ product['price']|format_currency }}</h3>
{% endblock %}
