﻿{% extends "layout.html" %}

{% block content %}

<form action="/register" method="post" enctype="application/x-www-form-urlencoded">
    <div class="row">
        <div class="small-3 columns">
            <label class="right">Name</label>
        </div>
        <div class="small-9 columns">
            <input type="text" placeholder="Name" />
        </div>
    </div>
    <div class="row">
        <div class="small-3 columns">
            <label class="right">Address</label>
        </div>
        <div class="small-9 columns">
            <input type="text" placeholder="Address" />
        </div>
    </div>
    <div class="row">
        <div class="small-3 columns"></div>
        <div class="small-9 columns">
            <button type="submit" class="button round" aria-label="submit form">Submit</button>
        </div>
    </div>
</form>

{% endblock %}
